.app__confirmation {
    width: 100%;
    text-align: center;
    background-color: var(--color-black);
}

.app__confirmation-message {
    width: 100%;
    position: relative;
}

.app__confirmation-message_img {
    width: 80%;
    margin: auto;
}

.app__confirmation-message_img img {
    width: 100%;
}

.app__confirmation-message_subtext {
    margin-top: 1rem;
    font-family: var(--font-base);
    font-size: 4rem;
    line-height: 66px;
    color: var(--color-golden);
}

.app__confirmation button {
    width: 15rem;
    margin-top: 10rem;
}

.app__confirmation button a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__confirmation button a svg {
    font-size: 5rem;
}



@media screen and (min-width: 2000px) {
    .app__confirmation-message_img {
        width: 70%;
    }

    .app__confirmation-message_subtext {
        font-size: 7rem;
        line-height: 100px;
    }

    .app__confirmation button {
        width: 20rem;
        margin-top: 20rem;
    }

    .app__confirmation button a svg {
        font-size: 8rem;
    }
}



@media screen and (min-width: 1600px) and (max-width: 2000px) {
    .app__confirmation-message_subtext {
        font-size: 6rem;
        line-height: 86px;
    }
}



@media screen and (max-width: 1150px) {
    .app__confirmation-message_img {
        width: 100%;
    }
    
    .app__confirmation-message_subtext {
        margin-top: 2rem;
        font-size: 3.7rem;
    }

    .app__confirmation button a svg {
        font-size: 5rem;
    }
}



@media screen and (max-width: 650px) {
    .app__confirmation-message_subtext {
        font-size: 2.2rem;
        line-height: 36px;
    }

    .app__confirmation button {
        width: 10rem;
    }

    .app__confirmation button a svg {
        font-size: 3rem;
    }
}