.section__padding {
  padding: 12rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  width: 100%;
  background: url('./assets/background/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__happy-hours {
  width: 100%;
  background: url('./assets/background/happy_hours_redopa.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app__bg-bar {
  width: 100%;
  background: url('./assets/background/BarLoungeRedOpa.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app__bg-meal {
  width: 100%;
  background: url('./assets/background/MealBackgroundRedOpa.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* min-height: 100vh; */
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.outline__button {
  background-color: var(--color-black);
  color: var(--color-golden);
  font-family: var(--font-base);
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  border: 2px solid var(--color-golden);
  outline: none;
  cursor: pointer;
}

.small__button {
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 30px;
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button:hover,
.small__button:hover {
  background-color: var(--color-crimson);
}

.outline__button:hover {
  background-color: var(--color-golden);
  color: var(--color-black);
}

.custom__button:active,
.small__button:active,
.outline__button:active {
  transform: scale(1.02);
}

.custom__button a,
.small__button a,
.outline__button a {
  width: 100%;
  height: 100%;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 30px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 60px;
}

.fixed {
  position: fixed;
  top: 0;
}

.error-message {
  width: 30%;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  color: var(--color-black);
  background-color: var(--color-golden);
  transition: 1s;

  position: absolute;
  top: 65%;
}

.error-message::before {
  content: "";
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid var(--color-golden);

  position: absolute;
  top: -50%;
}



@media screen and (min-width: 2000px) {
  .custom__button,
  .outline__button {
    font-size: 40px;
    line-height: 75px;
  }

  .small__button {
    font-size: 30px;
    line-height: 65px;
  }

  .p__cormorant {
    font-size: 50px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 120px;
    line-height: 180px;
  }

  .spoon__img {
    width: 100px;
  }

  .error-message {
    width: 25%;
    font-size: 3rem;
    border-radius: 15px;
    top: 70.5%;
  }
}



@media screen and (min-width: 1150px) and (max-width: 1999px) {
  .p__cormorant {
    font-size: 35px;
    line-height: 50px;
  }

  .custom__button,
  .outline__button {
    font-size: 30px;
    line-height: 50px;
  }
}



@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }

  .p__cormorant {
    font-size: 30px;
    line-height: 36px;
  }

  .custom__button,
  .outline__button {
    font-size: 28px;
    line-height: 60px;
  }

  .small__button {
    font-size: 25px;
    line-height: 45px;
  }

  .error-message {
    width: 70%;
    font-size: 2rem;
    border-radius: 15px;
  }
}



@media screen and (max-width: 850px) {
  .section__padding {
    padding: 8rem 4rem;
  }

  .custom__button,
  .outline__button {
    font-size: 1.8rem;
    transform: scale(1.3);
    line-height: 40px;
  }

  .small__button {
    font-size: 1.2rem;
    transform: scale(1.3);
    line-height: 20px;
  }

  .custom__button:active,
  .small__button:active,
  .outline__button:active {
    transform: scale(1.32);
  }
}



@media screen and (max-width: 650px) {
  .section__padding {
    padding: 8rem 2rem;
  }
  
  .p__cormorant {
    font-size: 30px;
  }

  .p__opensans {
    font-size: 14px;
  }

  .custom__button,
  .outline__button {
    font-size: 1.4rem;
    line-height: 30px;
  }

  .error-message {
    width: 75%;
    font-size: 1.8rem;
    border-radius: 10px;
  }
}



@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
    line-height: 22px;
  }

  .p__cormorant {
    font-size: 28px;
    line-height: 35px;
  }

  .headtext__cormorant {
    font-size: 50px;
    line-height: 70px;
  }
}



@media screen and (max-width: 350px) {
  .p__opensans {
    line-height: 18px;
  }

  .p__cormorant {
    font-size: 20px;
    line-height: 30px;
  }

  .headtext__cormorant {
    font-size: 40px;
    line-height: 60px;
  }

  .error-message {
    width: 90%;
  }
}
